[project]
name = "{{ .PackageName }}"
version = "0.1.0"
description = "OpenAssembly API Python Client"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.8.0",
    "requests>=2.32.5",
]
